---
import { Image } from 'astro:assets'
import imgDucati03 from '@/assets/images/ducati-03.webp'
---

<div class="reveal reveal:opacity-0 reveal:scale-90 relative">
	<Image class="top-0 left-0 size-full mask-l-from-50% object-cover xl:absolute" src={imgDucati03} width={1920} alt="" />
</div>
